<body>
  <ul class="all-shoes">
      <b>Title:</b> <%= @shoe.title %><br>
      <b>Brand</b> <%= @shoe.brand %><br>
      <b>Size:</b> <%= @shoe.size %><br>
      <b>Price:</b> <%= @shoe.price %><br>
      <b>Condition:</b> <%= @shoe.condition %><br>
      <b>Distance(miles):</b> <%= @shoe.distance %><br>
      <b>Description:</b> <%= @shoe.description %><br>
  </ul>
</body>
